ion-label{
    font-size: 12px;
}

.button-container{
    display: flex;
    padding: 0 10px;
}

.space-between {
    justify-content: space-between;
}
  
.flex-end {
    justify-content: flex-end;
}

